

#content {
  display:block;
  width: 100%;
  margin: 0 auto;
}

#logospace {
    padding-top: 120px;

}

div#topnav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#topnav li {
    display: inline;
    margin: 0 10px 0 10px;
}

div#botnav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#botnav li {
    display: inline;
    padding: 0 10px 0 10px;
    
}

#logospace {
  display: block;
  width: 100%;
  margin: auto;  
}


#logo {

    display: block;
    
    margin: 25px auto;
}

#searchbox {
    display: block;
    width: 500px;   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
}

.buttoncontainer {
    display: block;
    width: 100% ;
        
}

.buttonspace {
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;
}

.searchbtn {
    display: inline;
    text-align: center;
}

.luckybtn {
    display: inline;
    text-align: center;
}

#botnav {
    margin-top: 30px;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


